<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Nobody's Home - 歌詞と和訳</title>
</head>
<body>
<pre style="text-align: center;">
Nobody's Home - ONE OK ROCK

How are you doing?
調子はどう？

そんなふうに 言えるのにも時間がかかったね…

いつだって ここだ­­けは 温もりや優しさが

僕を包んでくれてた場所で…

けど僕は何度も­­裏切ってきたね・・・

I just say
言わせてくれ

心から

I'm sorry
ごめんねって

今やっと気づいたよ

Nobody's home yeah
家の中には誰もいない

Nobody's home yeah
家の中には誰もいない

何もかもを捨てて 飛び出したあの日

思い出せば 僕の背中を­­

あの時も強く押してくれてたんだね


気づけばバラバラになってた­んだ

どうする事もできなくてただ悔­しくて…

求めてた親の夢 欲­しかった僕の夢

交わることはなかった現­実


けど今言えることがあ­るの

離れても揺るがないもんはある!!


Nobody's home yeah
家の中には誰もいない

Nobody's home yeah
家の中には誰もいない

たとえカタチが崩れて無くなっても

目には見えないもので­­必ず

僕ら生きる限りつながっているから


Everybody's home...
どこにいてもつながっているから…

Nobody's home yeah
家の中には誰もいない

Nobody's home yeah
家の中には誰もいない

本当に迷惑ばかりかけてきたから

いつか必ず越えて必ず

僕­­の見せたい景色を見せるから


Nobody's home yeah
家の中には誰もいない

Nobody's home yeah
家の中には誰もいない

心から愛しているよありがとう



</pre>
</body>
