<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Re:make - 歌詞と和訳</title>
</head>
<body>
<pre style="text-align: center;">
Re:make - ONE OK ROCK

You take me back
僕を連れ戻して

And show me you're the only one
生きることの大切さに気づかせてくれた

Reveal the way you got me
きみが僕に示してくれたんだ

I've got to run
だから走り出さなくちゃ

You're still alive
きみはまだ生きているから

I'm never gonna take your feeling
その気持ちを僕は完璧に理解することはできない

Which is complicated
それは複雑なものなんだ

踏まれてねじられここまで

歩んだこの道の先は

誰にも踏み込まれたくはない　

未開拓地領域

触れられてしまえば　

Break me up
壊れてしまうから

整えりゃ　

Wait for a moment
少し待ってみて

ここらでさぁ　

Falling out yeah
落ち始めちゃって

ギリギリで　

Runs out of time
時間切れって感じ

You can feel it!
きみならわかるだろう！


I can't believe in you
きみのことは信じられない

I'd see you another day another way
もっと別の形で出会いたかったよ

Nobody's standing near
誰もいないところにこそ

There are something you can't see or feel, baby
想像を超えたものがあるのさ


自己のエゴ虚しく 行く末　

Yeah I'm sorry
申し訳ないけれど

履き違えはなはだしくてもう

Doubt
疑ってしまうよ

行き違い

Out there?
行ってしまったの？


I keep trying to reach you
きみのところまで歩み続けるよ

With my broken legs
この両足が折れてしまっても

How many times have you seen me when I fall?
きみの目の前でどれだけ失敗を繰り返してきただろう？

But now I know you're not the only thing like before
でも今ならわかる きみは変わったんだって

Not the one I need to share
もう僕が寄り添う必要もないんだね

くだらない　意味もない　くそ食らえ

それぐらい　分かるよ　バカじゃない

I never give myself to you any more
もうきみのために自分を犠牲にしたりなんかしない


I can't believe in you
きみのことは信じられない

I'd see you another day another way
もっと別の形で出会いたかったよ

Nobody's standing near
誰もいないところにこそ

There are something you can't see or feel, baby
想像を超えたものがあるのさ

自己暗示虚しく　気付けば　

Oh when I'm me
僕は僕
　　　　　　　　　　　　　　　　　　　　　　　　　　　
履き違えはなはだしくてもう

Doubt
疑って

行き違い

Out there?
もう行ってしまったの？

I can't believe in you
きみのことは信じられない

I'd see you another day another way
もっと別の形で出会いたかったよ

Nobody's standing near
誰もいないところにこそ

There are something you can't see or feel, baby
想像を超えたものがあるのさ

自己暗示虚しく　気付けば　

Oh when I'm me
僕は僕のままで
　　　　　　　　　　　　　　　　　　　　　　　　
履き違えはなはだしくてもう

Doubt
疑って

行き違い

Out there?
行ってしまったの？

I can't believe in you
きみのことは信じられない

羅列した無数の選択はNo!!

勝ち誇りバカばかりでじゃもう

Doubt
疑って

行き違い

Out there!!
僕は行くのさ



</pre>
</body>
