<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>The Beginning - 歌詞と和訳</title>
</head>
<body>
<pre style="text-align: center;">
The Beginning - ONE OK ROCK

Just give me a reason
To keep my heart beating
Don't worry, it's safe right here in my arms
As the world falls apart around us
All we can do is hold on, hold on

鼓動を打ち続ける意味を僕にくれよ
心配ないよ、僕の腕の中に居れば安全さ
世界が崩れ落ちる時が来ても
僕たちにできることは耐えることだけだ
耐えるんだ

Take my hand
And bring me back
僕の手を取って
連れ戻してくれよ

I'll risk everything if it's for you
A whisper into the night
Telling me it's not my time and don't give up
I've never stood up before this time
君のためならどんなリスクでも背負うよ
闇夜に囁く
「まだお前の出番じゃない、諦めるな」と
今まで一度も立ち上がれたことはなかった

でも譲れないもの
握ったこの手は離さない

So stand up, stand up
Just gotta keep it
I wanna wake up, wake up
Just tell me how I can never give up
だから立ち上がれ、立ち上がるんだ
守らなきゃ
起き上がれ、起き上がるんだ
諦めずにいられる方法を教えてくれよ

狂おしいほど刹那の艶麗（えんれい）

Just tell me why baby
They might call me crazy
For saying I'll fight until there is no more
愁いを含んだ閃光眼光は感覚的衝動
Blinded I can't see the end
So where do I begin
なぁ、教えてくれよ
奴らは狂ってるって言うんだろうな
争いがなくなるまで僕が戦い続けると言えば
愁いを含んだ閃光眼光は感覚的衝動
僕には終わりが見えないんだ
僕はどこから始めたらいいんだ？

Say not a word I can hear you
The silence between us
何もないように写ってるだけ
I'll take this chance and I'll make it mine
声を出さなくても聞こえているよ
君と僕の間に流れる静寂
何もないように写ってるだけ
僕はこのチャンスを掴んでみせるし
必ずやり遂げてやる

ただ隠せないもの飾ったように見せかけてる

So stand up, stand up
Just gotta keep it
I wanna wake up, wake up
Just tell me how I can never give up
だから立ち上がれ、立ち上がるんだ
守らなきゃ
起き上がれ、起き上がるんだ
諦めずにいられる方法を教えてくれよ

悲しみと切なさの艶麗

Just give me a reason
To keep my heart beating
Don't worry it's safe right here in my arms
砕けて泣いて咲いて散ったこの思いは
So blinded I can't see the end
生き続ける理由を教えてくれよ
大丈夫さ、僕のそばにいれば安全さ
砕けて泣いて咲いて散ったこの思いは
視界が悪すぎて僕には終わりが見えないんだ

Look how far we've made it
The pain I can't escape it
僕たちがしてきたことを振り返って見てみろよ
この痛みからは逃れられない

このままじゃまだ終わらせることはできないでしょ
何度くたばりそうでも朽ち果てようとも
終わりはないさ

So where do I begin
なぁ、僕はどこから始めたらいいんだ？

握りしめた　失わぬようにと
手を広げれば零れ落ちそうで
失うものなどなかった日々の惰性を捨てて
君を…

Just tell me why baby
They might call me crazy
For saying I'll fight until there is no more
愁いを含んだ閃光眼光は感覚的衝動
Blinded I can't see the end
なぁ、教えてくれよ
奴らは狂ってるって言うんだろうな
争いがなくなるまで僕が戦い続けると言えば
愁いを含んだ閃光眼光は感覚的衝動
僕には終わりが見えないんだ

Look how far we've made it
The pain I can't escape it
見てみろよ、僕らの道のりを
この痛みからは逃れられないんだ

このままじゃまだ終わらせることはできないでしょ
何度くたばりそうでも朽ち果てようとも
終わりはないさ

It finally begins
さぁ始めようか



</pre>
</body>